@use 'variables' as *;

.authContainer {
  display: flex;
  min-height: 100vh;
  background-color: $color-white;

  @include mobile {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
}

.image {
  display: none;

  @include desktop {
    display: block;
    margin: 0;
    padding: 0;
    width: 35%;
    background: $color-black;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.text {
  @include desktop {
    width: 65%;
  }

  margin: auto;

  .formWrapper {
    width: 100%;
    margin: 2rem auto;

    @include desktop {
      width: 70%;
    }
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 0 16px;
  margin: 10px 0;

  .btn {
    @include button;
    @include button-secondary;
    margin-left: 10px;
    color: $color-black;
    border: 1px solid rgb(100, 100, 100, 0.3);
  }
}
