@use './variables' as *;

.bg {
  @include full-bg;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  &:before {
    @include gradient-overlay;
    height: 600px;
  }
}

.ratingContainer {
  @include mobile {
    width: fit-content;
    margin: 10px 0;
    margin: auto;
  }
}

.price {
  display: flex;
  align-items: center;

  @include mobile {
    justify-content: center;
  }

  .cost {
    font-size: 32px;
    font-weight: 700;
    margin-right: 15px;
  }
}

.btnContainer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;

  @include mobile {
    flex-direction: column;
  }
}

.btn {
  @include button;
  width: 49%;

  @include mobile {
    margin: 5px 0;
    width: 100%;
  }

  &.secondary {
    @include button-secondary;
  }

  &.primary {
    @include button-primary;
  }
}

.game {
  z-index: 1;
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
  margin-top: 50%;

  @include mobile {
    padding: 1rem 10px;
  }

  @include desktop {
    margin: 10% auto;
    padding: 3rem 5rem;
  }

  @include big-screen {
    max-width: 1280px;
  }

  &Container {
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 1rem;
    width: 100%;
    max-width: 1180px;
    margin: auto;

    @include mobile {
      padding: 10px;
    }

    .details {
      display: flex;

      @include mobile {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .image {
        width: 300px;
        height: 168.75px;
        position: relative;

        img {
          border-radius: 0.5rem;
          object-fit: cover;
          object-position: center;
        }

        @include tablet {
          width: 300px;
          height: 168.75px;
        }
      }

      .text {
        color: $color-white;
        margin-left: 2rem;
        flex: 1;
        max-width: 75%;

        @include mobile {
          text-align: center;
          margin: auto;
          width: 100%;
          max-width: 100%;
        }

        .title {
          font-size: 36px;
          font-family: 'Ubuntu', sans-serif;
          color: $color-white;
          font-weight: bold;
          width: 100%;
          line-height: 120%;
          margin: 0;
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .extra {
          font-size: 12px;
          font-weight: bold;

          * {
            font-weight: bold;
          }
        }
      }
    }

    .genres {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin: 20px auto;

      .genre {
        font-size: 14px;
        font-weight: 500;
        padding: 5px 10px;
        margin-right: 10px;
        line-height: 100%;
        border: 1px solid rgba(245, 245, 245, 0.25);
        border-radius: 3px;
        color: $color-white;
        cursor: pointer;
        background: rgba(245, 245, 245, 0.25);
        backdrop-filter: blur(16px);
      }
    }
  }
}

.section {
  width: 100%;
  margin: 2rem auto;
  padding: 10px;
  background: rgba(17, 17, 17, 0.5);
  backdrop-filter: blur(16px);
  border-radius: 5px;

  @include desktop {
    border: 2px solid $color-border;
    border-radius: 1rem;
    padding: 1rem 3rem;
  }

  h2 {
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    color: $color-white;
    font-weight: bold;
    margin: 20px 0;
    padding-bottom: 10px;

    border-bottom: 2px solid $color-border;
  }

  p {
    font-size: 14px;
    color: $color-gray;
    font-weight: normal;
    line-height: 120%;
  }

  .slider {
    border-radius: 1rem;

    .sliderItemImage {
      min-width: 300px;
      min-height: 168.75px;
      border-radius: 10px;
      margin: 0 10px;
      position: relative;

      @include desktop {
        min-width: 500px;
        min-height: 281.25px;
      }

      img {
        border-radius: 5px;
        object-fit: cover;
        object-position: center;
      }
    }

    .sliderItemPlatform {
      min-width: 150px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 10px;

      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 10px;

      .name {
        font-size: 16px;
        font-weight: bold;
        font-family: 'Ubuntu', sans-serif;
        line-height: 100%;
        color: $color-white;
      }
    }
  }
}

.ratingReview {
  display: flex;

  @include mobile {
    flex-direction: column;
  }

  .rating {
    margin-right: 2rem;

    @include mobile {
      margin: 0 auto;
    }

    .number {
      font-size: 56px;
      color: $color-white;
    }

    .count {
      text-align: center;
      color: $color-gray;
    }
  }

  .review {
    color: $color-white;
    display: flex;
    align-items: center;
  }
}

.ratingItem {
  margin-left: 10px;
  font-size: 14px;

  @include mobile {
    display: none;
  }
}
