@use './variables' as *;

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: $color-white;
  transition: all 0.3s;
  overflow: hidden;
  width: 100%;
  height: 100%;

  &:hover {
    transform: scale(1.05);
  }

  .name {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    line-height: 100%;
    margin: auto;
  }

  .count {
    align-content: flex-end;
    font-size: 14px;
    line-height: 100%;
  }
}

.genresContainer {
  border-radius: 1rem;

  .genreItem {
    min-width: 200px;
    height: 100px;
    margin: 0 5px;
    overflow: hidden;
    position: relative;
    border: 2px solid $color-border;
    border-radius: 10px;
  }
}

.genresFlexContainer {
  width: 100%;
  display: flex;
  // align-items: center;
  align-items: stretch;
  justify-content: stretch;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 5px;

  @include mobile {
    justify-content: stretch;
  }

  .genreItem {
    border: none;
    flex: 1;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    min-width: 150px;
    min-height: 100px;

    @include desktop {
      min-width: 220px;
    }

    .content {
      padding: 5px 30px;
    }
  }
}
